.insta-container {
  position: relative;
  display: inline-block;
}

.insta-icon {
  width: 40px;
  border-radius: 10px;
}

/* whiskers left */
.insta-container::before,
.insta-container::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #8b7d7d;
  top: 50%;
}

/* left whiskers */
.insta-container::before {
  left: -15px;
  transform: rotate(15deg);
  box-shadow: 0 5px 0 #8b7d7d, 0 -5px 0 #8b7d7d;
}

/* right whiskers */
.insta-container::after {
  right: -15px;
  transform: rotate(-15deg);
  box-shadow: 0 5px 0 #8b7d7d, 0 -5px 0 #8b7d7d;
}
